/* --------------------------------
Main Components
-------------------------------- */
.cd-horizontal-timeline {
    margin: 2em auto;
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 0 auto;
}

/* Hides the timeline overflow */
.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}
